html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.navbar-brand{
    background-image: url("https://images.unsplash.com/photo-1414919823178-e9d9d0afd0ac?ixid=MnwxMjA3fDB8MHxzZWFyY2h8OTl8fG5vdGVwYWR8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60");
    background-image: transparent;
    background-repeat: no-repeat;
}
.save-note {
    display: none;
}

.icons i {
    margin-left: 15px;
    margin-right: 15px;
    font-size: 1.5rem;
    cursor: pointer;
}

.note-texture, .note-title {
    color:black;
    width: 100%;
    outline: none;
    border: none;
}

.card{
    background-image: url("https://images.unsplash.com/photo-1598620616337-cb8f766489bd?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8bm90ZXBhZHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1200&q=60");
    background-image: transparent;
}
.note-textarea {
    resize: stretch;
    height: calc(100% - 65px);
    padding-top: 15px;
}

.note-titie {
    height: 50px;
    margin: 13px;
    font-size: 3rem;
}

.note-titie:read-only, .note-textarea:read-only {
    color: gray;
}
.list-container .card {
    height: calc(100vh - 75px);
    border-bottom: none;
    border-bottom-right-radius: 0 ;
    border-bottom-left-radius: 0;
}

.list-container {
    padding-left: 0;
}